<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/picaboo-v1/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 May 2019 01:15:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>iShop ||Error 500</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico in the root directory -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!--All Css Here-->
    
	<!-- Ionicons Font CSS-->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Animate CSS-->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Owl Carousel CSS-->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<!-- Nice Select CSS-->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Slick CSS-->
	<link rel="stylesheet" href="css/slick.css">
	<!-- Meanmenu CSS-->
	<link rel="stylesheet" href="css/meanmenu.min.css">
	<!-- Venobox CSS-->
	<link rel="stylesheet" href="css/venobox.css">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../css/responsive.css">
	<!-- Modernizr Js -->
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">

		<!--Header Area End-->
		<!--Breadcrumb Area Start-->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <div class="breadcrumb-content text-center">
                            <h1 class="breadmome-name">Error 500</h1>
		                   
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Breadcrumb Area End-->
	    <!--Error 404 Area Start-->
		<div class="error-404-area mt-40">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="error-wrapper text-center">
		                    <div class="error-text">
		                        <h1>500</h1>
		                        <h2>Opps! Something went wrong</h2>
		                        <p>Sorry but the page you are looking for  temporarily is unavailable.Try again...</p>
		                    </div>
		                    
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
                        </div>
		            </div>
		        </div>
		        


</body>

<!-- Mirrored from demo.devitems.com/picaboo-v1/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 May 2019 01:15:24 GMT -->
</html>
