<% include ../admin_partials/header.ejs %>
  <% include ../admin_partials/nav.ejs %>
  <body>
          <% include ../admin_partials/dashboard.ejs %>
      <% include ../admin_partials/footer.ejs %>
  </body>
