<!--Feature Area Start-->
		<div class="feature-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-telephone"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-email"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-timer-outline"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Feature Area End-->
		
<!--Footer Area Start-->
		<footer>
		    <div class="footer-container">
		       
		       
		        <!--Footer Middle Area Start-->
		        <div class="footer-middle-area">
		            <div class="container">
                        <div class="newsletter-social-block-content">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <!--Newsletter Area Start-->
                                    <div class="newsletter-area">
                                        <p>Sign up for newsletter</p>
                                        <div class="newsletter-form">
                                               <!-- Newsletter Form -->
                                               <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="popup-subscribe-form validate" target="_blank" novalidate>
                                                   <div id="mc_embed_signup_scroll">
                                                      <div id="mc-form" class="mc-form subscribe-form" >
                                                        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email here" />
                                                        <button id="mc-submit">Subscribe</button>
                                                      </div>
                                                   </div>
                                               </form>
                                        </div>
                                    </div>
                                    <!--Newsletter Area End-->
                                </div>
                                <div class="col-lg-5 col-md-12 text-center text-lg-right">
                                    <div class="social-title">
                                        <h2>Follow Us</h2>
                                    </div>
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
		            </div>
		        </div>
		      
		        <!--Footer Bottom Area Start-->
		        <div class="footer-bottom-area">
		            <div class="container">
		                <div class="row">
		                    <div class="col-md-6">
                                <!--Footer Copyright Start-->
		                        <div class="footer-copyright">
		                            <p>Copyright &copy; <a href="#">iShop.</a> All Rights Reserved</p>
		                        </div>
		                        <!--Footer Copyright End-->
		                    </div>
		                   
		                </div>
		            </div>
		        </div>
		        <!--Footer Bottom Area End-->
		    </div>
		</footer>
		<!--Footer Area End-->

<script src="/js/vendor/jquery-1.12.4.min.js"></script>
	<!--Imagesloaded-->
	<script src="/js/imagesloaded.pkgd.min.js"></script> 
	<!--Isotope-->
	<script src="../js/isotope.pkgd.min.js"></script>
	<!--Waypoints-->
	<script src="../js/waypoints.min.js"></script>
	<!--Counterup-->
	<script src="../js/jquery.counterup.min.js"></script>
	<!--Countdown-->
	<script src="../js/jquery.countdown.min.js"></script>
	<!--Carousel-->
	<script src="../js/owl.carousel.min.js"></script>
	<!--Slick-->
	<script src="../js/slick.min.js"></script>
	<!--Meanmenu-->
	<script src="../js/jquery.meanmenu.min.js"></script>
	<!--Instafeed-->
	<script src="../js/instafeed.min.js"></script>
	<!--Nice Select-->
	<script src="../js/jquery.nice-select.min.js"></script>
	<!--ScrollUp-->
	<script src="../js/jquery.scrollUp.min.js"></script>
	<!--Wow-->
	<script src="../js/wow.min.js"></script>
	<!--Venobox-->
	<script src="../js/venobox.min.js"></script>
	<!--Popper-->
	<script src="../js/popper.min.js"></script>
	<!--Bootstrap-->
	<script src="../js/bootstrap.min.js"></script>
	<!--Plugins-->
	<script src="../js/plugins.js"></script>
	<!--Main Js-->
	<script src="../js/main.js"></script>