<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/picaboo-v1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 May 2019 01:14:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico in the root directory -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!--All Css Here-->
    
	<!-- Ionicons Font CSS-->
    <link rel="stylesheet" href="../css/ionicons.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Animate CSS-->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Owl Carousel CSS-->
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<!-- Nice Select CSS-->
	<link rel="stylesheet" href="../css/nice-select.css">
	<!-- Slick CSS-->
	<link rel="stylesheet" href="../css/slick.css">
	<!-- Meanmenu CSS-->
	<link rel="stylesheet" href="../css/meanmenu.min.css">
	<!-- Venobox CSS-->
	<link rel="stylesheet" href="../css/venobox.css">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../css/responsive.css">
	<!-- Modernizr Js -->
	<script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>