<style>
    .text_align{
        text-align:center;
        font-size:20px;
    }
</style> 
<!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Mailbox</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Mailbox</li>
                        </ol>
                    </div>
                     <% if (info && typeof info != 'undefined' && info != '')  { %>
                        <div class="col-md-6 col-md-offset-3 text_align pull-right alert alert-success" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= info %></div>
                        <% }  %>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
             
<div class="row">
   	<% if(errors) { %>
                               
                  
              <% for(var i = 0; i < errors.length; i++){ %>
                 
              
              
              <li class="list-group-item text-danger"><%= errors[i] %></li>
            <% } %>
          
              <% } %>
          <!-- Column -->
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-20 mt-0 align-self-center">Add new Product</h5>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <div class="relative">
                      <div id="amazingslider-wrapper-1" class="mb-40">
                        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                          <ul class="amazingslider-slides" style="display:none;">
                            <li><a href="../assets/images/gallery/a-lightbox.jpg" class="html5lightbox"><img src="../assets/images/gallery/a.jpg" alt="" title="" /></a> </li>
                            <li><a href="../assets/images/gallery/4-lightbox.jpg" class="html5lightbox"><img src="../assets/images/gallery/4.jpg" alt="" title="" /></a> </li>
                            <li><a href="../assets/images/gallery/13-lightbox.jpg" class="html5lightbox"><img src="../assets/images/gallery/13.jpg" alt="" title="" /></a> </li>
                            <li><a href="../assets/images/gallery/19-lightbox.jpg" class="html5lightbox"><img src="../assets/images/gallery/19.jpg" alt="" title="" /></a> </li>
                          </ul>
                          <ul class="amazingslider-thumbnails" style="display:none;">
                            <li><img src="../assets/images/gallery/a-tn.jpg" alt="" title="" /></li>
                            <li><img src="../assets/images/gallery/4-tn.jpg" alt="" title="" /></li>
                            <li><img src="../assets/images/gallery/13-tn.jpg" alt="" title="" /></li>
                            <li><img src="../assets/images/gallery/19-tn.jpg"  alt="" title="" /></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                      <form class="form-horizontal" method="POST" action="/product/upload" enctype="multipart/form-data">
                    <div class="upload-photo">
                      <input type="file"  class="dropify"  name="photo" />
                    </div>
                  </div>
                  <!-- End of product slider -->
                  <div class="col-lg-8 col-md-8">
                    <div class="row">
                      <div class="form-wrap form-wrap2 col-12 mt-4">
                        
                          <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                              <label class="control-label text-primary font-12">Product Name</label>
                              <div>
                                <input type="text" class="form-control font-14"  placeholder="Name" name="title">
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-group">
                            <div class="row m-0">
                              <div class="col-sm-6 col-xs-12">
                                <label class="control-label font-14">Select Category</label>
                                <div>
                                  <select class="custom-select font-14" data-style="btn-default btn-outline" name="category">
                                    <option  data-tokens="Category">Select Category </option>
                                      <% for(var i = 0; i < category.length; i++) { %>
                                    <option data-tokens="Home Accessories" value="<%= category[i].category_name%>"><%= category[i].category_name%></option>
                                    <% } %>
                                      
                                    
                                      
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                <label class="control-label font-14">SKU identification</label>
                                <div >
                                  <input type="text" class="form-control font-14"  placeholder="SKU" name="sku">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-group">
                            <div class="row m-0">
                              <div class="col-md-3 col-xs-12">
                                <label class="control-label font-14">Unit Price</label>
                                <div>
                                  <input type="number" class="form-control font-14"  placeholder="Unit Price" name="price">
                                </div>
                              </div>
                                 <div class="col-md-3 col-xs-12">
                                <label class="control-label">List Price</label>
                                <div>
                                  <input type="number" class="form-control font-14"  placeholder="List Price" name="listprice">
                                </div>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                <label class="control-label font-14 ">Currency</label>
                                <div >
                                  <select class="custom-select" data-style="btn-default btn-outline" name="currency">
                                    <option  data-tokens="Category">Currency</option>
                                    <option data-tokens="$" value="$">USD</option>
                                   
                                  </select>
                                </div>
                              </div>
                             
                                 <div class="col-md-3 col-xs-12">
                                <label class="control-label">Quantity</label>
                                <div>
                                  <input type="text" class="form-control font-14"  placeholder="Quantity" name="qty">
                                </div>
                              </div>
                                <div class="col-md-3 col-xs-12">
                                <label class="control-label">Size</label>
                                <div>
                                  <input type="text" class="form-control font-14"  placeholder="Size" name="size">
                                </div>
                              </div>
                                <div class="col-md-3 col-xs-12">
                                <label class="control-label">Color</label>
                                <div>
                                  <input type="text" class="form-control font-14"  placeholder="Color" name="color">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label class="control-label">Tags</label>
                              <div class="tags-default">
                                   <select multiple data-role="tagsinput" name="tags">
                                    <option value="laptop">laptop</option>
                                    <option value="black">black</option>
                                    <option value="white">white</option>
                                    <option value="phone">phone</option>
                                    <option value="iphone">iphone</option>
                                    <option value="denim">denim</option>  
                                    <option value="vuitton">vuitton</option>  
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <label class="col-12">Description</label>
                              <div class="col-12">
                                <textarea class="form-control textarea-lg" name="description"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="form-group bt-switch row">
                           
                            <div class="col-md-6 text-right pr-30">
                              <div class="5">
                                <button type="submit" class="btn waves-effect waves-light btn-primary">Save</button>
                                <button type="button" class="btn waves-effect waves-light btn-outline-default">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

			   <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
              