<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from creativethemes.co.in/demo/studioux/hyrax-admin-bootstrap4/dark/ecommerce-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2019 00:40:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title><%= title %></title>
    <!-- Bootstrap Core CSS -->
    <link href="../assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/vendors/dropify/dist/css/dropify.min.css">
     <link href="../assets/vendors/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="../assets/vendors/morrisjs/morris.css" rel="stylesheet">
    <!-- Vector CSS -->
    <link href="../assets/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="../assets/vendors/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/master-stylesheet.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="../css/pages/dashboard2.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
 <link href="../css/colors/blue-dark.css" id="theme" rel="stylesheet">
<link href="../css/master-stylesheet.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../assets/vendors/product-slider/product-slider.css">
    <!-- page css -->
    <link href="../css/pages/inbox.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
